# Python-spezifisch
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.dll

# Virtuelle Umgebungen
.venv/

.venv_backup/

venv/
venv_backup/

# Jupyter Notebook & Historie
.ipynb_checkpoints/
.history/

# IDEs
.vscode/
.idea/

# Betriebssystem-spezifisch
.DS_Store
Thumbs.db
# Standardmäßig den gesamten Output-Ordner ignorieren

/Output/
Output/*